/web/bundles/
/web/files/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.vagrant/
.idea
.php_cs.cache
node_modules/
jspm_packages/
/ansible/roles/galaxy
web/parameters.config.js
