<div class="container">
    <h1>Your Photos</h1>
    <div class="list">
        <div class="item" ng-repeat="photo in $ctrl.photos">
            <img ng-src="{{photo.imageUrl}}" title="{{photo.title}}"/>
            <div class="on-hover">
                <div class="title">{{photo.name}}</div>
                <div class="description">{{photo.description}}</div>
            </div>
        </div>

        <div class="item edit" ui-sref="photoEditor({id:'create'})">
            <span class="icon glyphicon glyphicon-plus"></span>
        </div>
    </div>

    <uib-pagination total-items="$ctrl.totalCount"
                    items-per-page="$ctrl.itemsPerPage"
                    ng-model="$ctrl.currentPage"></uib-pagination>
</div>