<div class="container" ng-if="$ctrl.initialized">
    <h1>Your Albums</h1>
    <div class="list">
        <div class="item"
             ui-sref="photos({albumId: album.id, page: 0})"
             ng-repeat="album in $ctrl.albums">
            <img ng-src="{{album.image_url}}" title="{{album.title}}"/>
            <div class="on-hover">
                <div class="title">{{album.name}}</div>
                <div class="description">{{album.description}}</div>
            </div>
        </div>

        <div class="item edit" ui-sref="albumEditor({id:'create'})">
            <span class="icon glyphicon glyphicon-plus"></span>
        </div>
    </div>

    <uib-pagination total-items="$ctrl.totalCount"
                    items-per-page="$ctrl.itemsPerPage"
                    ng-model="$ctrl.currentPage"></uib-pagination>
</div>